$breakpoints: (
  'small': (max-width: 800px),
  'too-small': (max-width: 450px),
);
/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

div.page{
    width:80%;
    margin:50px auto;
    padding:50px 3%;
    box-sizing:border-box;
    @include respond-to('too-small'){
        width:90%;
    }
    &.join-form{
        max-width:800px;
        background:rgba(255,255,255,0.5);
        border-radius:20px;
        overflow-y:scroll;
        div.group{
            clear:both;
        }
        div.form-group{
            margin:10px 0;
            width:100%;
            float:left;
            &.half{
                width:40%;
                margin-right:7%;
            }
            label{
                width:100%;
            }
            input[type="text"], input[type="password"]{
                width:94%;
                padding:15px 20px;
                border-radius:8px;
                border:1px solid #aaa;
                margin:5px 0;
            }
        }
    }
    div#container_image{
        width:90px;
        height:30px;
        border:1px solid #ddd;
    }
}