$breakpoints: (
  'big' : (min-width: 851px),
  'small': (max-width: 850px),
  'too-small': (max-width: 450px),
);
/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

div#logo.fixed{
    @include respond-to('big'){
        position:fixed;
        top:50px;
        left:10%;
    }
}
div.step{
    margin:10px;
    color:#fff;
    @include respond-to('big'){
        font-size:18px;
        position:fixed;
        top:110px;
        left:15%;
    }
}
div.page{
    width:80%;
    margin:50px auto;
    padding:50px 0;
    box-sizing:border-box;
    @include respond-to('too-small'){
        width:90%;
    }
    &.join-form{
        width:50%;
        margin-left:45%;
        background:rgba(255,255,255,0.3);
        border-radius:20px;
        @include respond-to('small'){
            width:90%;
            margin:100px auto;
        }
        div.group{
            clear:both;
            margin:0 auto;
        }
        div.form-group{
            padding:10px 5%;
            width:90%;
            float:left;
            &.half{
                width:42.5%;
                padding:10px 0 10px 5%;
            }
            > label{
                display:inline-block;
                width:100%;
                line-height:2.0;
            }
            input[type="text"], input[type="password"], select, textarea{
                width:100%;
                box-sizing:border-box;
                padding:15px 20px;
                border-radius:8px;
                border:1px solid #ccc;
                font-size:12px;
                &#sample6_postcode{
                    width:50%;
                    margin-bottom:10px;
                }
            }
            input[type="button"]{
                font-size:12px;
                padding:12px 15px;
                border-radius:10px;
                border:1px solid #ddd;
                cursor:pointer;
            }
            div#container_image{
                border:1px solid #333;
            }
            div:not(#container_image){
                background:rgba(255,255,255,0.5);
                border-radius:10px;
                padding:10px 10px;
                box-sizing:border-box;
                label{
                    margin-left:10px;
                }
            }
        }
        input[type="submit"]{
            display:block;
            padding:10px 20px;
            background:#333;
            color:#fff;
            border:none;
            border-radius:10px;
            letter-spacing:-2px;
            font-size:15px;
            font-weight:bold;
            margin:50px auto 0 auto;
            cursor:pointer;
            transition:all 0.4s;
            &:hover{
                color:hotpink;
            }
        }
    }
}