/*join.css*/

/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
/* Reset CSS end
* --------------------------------------- */

/*웹폰트(kopub체) */

@font-face {
    font-family: 'kopub';
    src:url('../font/KoPubDotumMedium.eot') format('embedded-opentype'),
        url("../font/KoPubDotumMedium.woff") format('woff');
}

@font-face {
    font-family: 'kopublight';
    src:url('../font/KoPubDotumLight.eot') format('embedded-opentype'),
        url("../font/KoPubDotumLight.woff") format('woff');
}

@font-face {
    font-family: 'kopubbold';
    src:url('../font/KoPubDotumBold.eot') format('embedded-opentype'),
        url("../font/KoPubDotumBold.woff") format('woff');
}

body{
    width: 100%;
    height:auto;
    /*background: -webkit-linear-gradient(125deg, #ff9271, #ff627d) fixed;
    background: linear-gradient(-35deg, #ff9271, #ff627d) fixed;*/
    font-family: 'kopub';
    &.back{
        background: url(../img/joinback.png) no-repeat 0 0;
        background-attachment:fixed;
    }
}

#logo{
    position: absolute;
    left: 10%;
    top:5%;
    width: 30%;
    height: 80px;
}

#logo img.logo1{
    width: 70px;
    height: 70px;
}

#logo img.logo2{
    width: 196px;
    height: 24px;
	margin-left: 15px;
	margin-bottom: 21px;
}

#wrap{
    width: 50%;
    height: auto;
    margin: 210px auto 0 auto;
    
}

#wrap h1{
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    color:#fff;
    font-family: 'kopub';
}

#wrap .button{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

#wrap a img{
    width: 25%;
    height: 25%;
    margin-bottom: 25px;
}

#wrap a.singer img, #wrap a.actor img, #wrap a.dancer img, #wrap a.host img{
    margin-right: 25px;
}



/************************  반응형 1024 ***************************************/
@media screen and (max-width: 1024px){

    #logo{
        width: 60%;
    }

    #logo img.logo1{
        width: 60px;
        height: 60px;
    }

    #logo img.logo2{
        margin-bottom: 19px;
    }

    #wrap .button{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

   #wrap h1{
        font-size: 23px;
   }
}

/************************  반응형 420 ***************************************/
@media screen and (max-width: 490px){
   
   #logo img.logo1{
        width: 45px;
        height: 45px;
    }

    #logo img.logo2{
        width: 121px;
		height: 15px;
        margin-bottom: 14px;
    }

   #wrap h1{
        font-size: 20px;
        padding-top:110px;
   }
   
    #wrap{
    margin: 60px auto 0 auto;   
    }

    #wrap .button{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    #wrap a img{
        width: 50%;
        height: 50%;
        margin-bottom: 25px;
    }

    #wrap a.singer img, #wrap a.actor img, #wrap a.dancer img, #wrap a.host img{
        margin-right: 0px;
    }

}


/************************  반응형 320 ***************************************/
@media screen and (max-width: 320px){
    #logo img.logo2{
        width: 99px;
		height: 12px;
        margin-bottom: 16px;
    }

    #wrap{
    margin: 20px auto 0 auto;   
    }

    #wrap h1{
    font-size: 16px;
    padding-top:110px;
    margin-bottom: 25px;
   }
}
